<div class="title-container">
  <h1>Recipes</h1>
</div>

<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="thumbnail">
        <div class="caption">
          <%= link_to recipe_path("#{recipe.image_id}*#{@page}") do %>
            <%= image_tag(recipe.image, class: "img-responsive img-thumbnail") %>
          <% end %>
          <h3><%= link_to recipe.title, recipe_path("#{recipe.image_id}*#{@page}") %></h3>
          <p>
            <%= link_to 'Show', recipe_path("#{recipe.image_id}*#{@page}"), class: "btn btn-default" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="recipes">
  <div>
  <% if @page > 1 %>
    <%= link_to 'previous Page', recipes_path(page: @page - 1) %>
  <% end %>
  <% if @more_recipes %>
    <%= link_to 'Next Page', recipes_path(page: @page +1) %>
  <% end %>
  </div>
</div>
